h1 {
    font-size: 25px;
    font-weight: bold;
}

.navimg {
    width: 50px;
    height: auto;
}

.sidenav-inner, .sidenav {
    height: 100%;
}

.r-input {
    border: gray 1px solid;
    border-radius: 8px;
    height: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.spinner {
    -webkit-animation: rotate 2s linear infinite;
    animation: rotate 2s linear infinite;
    z-index: 2;
    margin: 20px 0 0 0;
    width: 50px;
    height: 50px;
    display: inline-block;
}
.spinner .path {
    stroke: #8d8d8d;
    stroke-linecap: round;
    -webkit-animation: dash 1.5s ease-in-out infinite;
    animation: dash 1.5s ease-in-out infinite;
}

@-webkit-keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}
@-webkit-keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}
@keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}
/*shh*/

.interestingcontainer {
    display: flex;
}

.interestingdivbro {
    width: fit-content;
}

.evenmoreinterestingdivbro {
    width: 100%;
    display: flex;
}

.creditcontainer {
    padding: 15px;
}

.credittag {
    font-size: 12px;
}

.paymentamountcontainer {
    display: flex;
    justify-content: left;
    flex-direction: row;
}

.paymentamount {
    border: 1px solid black;
    width: 60px;
    height: 35px;
    border-radius: 3px;
    margin-right: 5px;
    transition: background-color 125ms ease, border 125ms ease;
}

.paymentamount > p {
    height: 100%;
    width: 95%;
    text-align: center;
    margin-top: 5px;
}

.paymentamount:hover {
    background-color: #5992ff;
    border: #5992ff 1px solid;
    cursor: pointer;
}

#customamountbtn {
    width: 75px;
}

#customamountbtn > p {
    width: 99%;
}

.paymentmethodcontainer {
    margin-top: 50px;
}

.paymentmethods {
    display: flex;
}

.paymentmethod {
    cursor: pointer;
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    width: 120px;
    height: 100px;
    transition: background-color ease 125ms;
    margin-right: 7px;
}

.paymentmethod:hover {
    background-color: #5992ff;
    border: #5992ff 1px solid;
}

.paymentmethod > p {
    width: fit-content;
}

.paymentamountselected, .paymentmethodselected {
    background-color: #4e8aff;
    border: 1px solid #4e8aff;
}

.vendorimgcontainer {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


